.settings/
log/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.log
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.checkstyle
target/
.gitignore
/.apt_generated/
/.apt_generated_tests/
.idea/
university.iml
university.yml
/university.log.*.gz
