<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: header">
</head>

<body>
    <div th:insert="fragments/fragments :: menu"></div>
    <h3 align="center">Subject information</h3>

    <div class="container-sm">
        <div th:insert="fragments/fragments :: notification"></div>
        <form th:unless="${subject==null}">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Subject name:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" th:value="${subject.name}">
                </div>
            </div>

            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Subject description:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" th:value="${subject.description}">
                </div>
            </div>

            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Department name:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" th:value="${subject.departmentName}">
                </div>
            </div>

            <div th:unless="${subject.deleted==true}" class="btn-group" role="group">
                <a th:href="@{/subjects/getAll}" class="btn btn-secondary">Back</a>
                <a th:href="@{/subjects/edit/(id=${subject.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/subjects/delete/(id=${subject.id})}" class="btn btn-danger" id="deleteButton">Delete</a>
            </div>

            <div th:if="${subject.deleted==true}" class="btn-group" role="group">
                <a th:href="@{/subjects/getAll}" class="btn btn-secondary">Back</a>
                <a th:href="@{/subjects/undelete/(id=${subject.id})}" class="btn btn-danger" id="restoreButton">Restore</a>
            </div>
        </form>
        <div th:if="${subject==null}">
            <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()">
        </div>
    </div>
    <div th:insert="fragments/fragments :: deleteConfirmModal"></div>
    <div th:insert="fragments/fragments :: deleteConfirmScript"></div>
    <div th:insert="fragments/fragments :: restoreConfirmModal"></div>
    <div th:insert="fragments/fragments :: restoreConfirmScript"></div>
</body>
</html>
