<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: header">
</head>

<body>
    <div th:insert="fragments/fragments :: menu"></div>
    <h3 align="center">Teachers list</h3>
    <div class="container-sm">
        <a th:href="@{/teachers/edit}" class="btn btn-secondary">Add new Teachers</a>
        <p></p>
        <div th:insert="fragments/fragments :: notification"></div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <td><strong>First name</strong></td>
                    <td><strong>Last Name</strong></td>
                    <td><strong>Subject Name</strong></td>
                    <td><strong>Department Name</strong></td>
                    <td></td>
                </tr>
            </thead>
            <th:block th:each="teacher:${teachers}">
                <tr th:if="${teacher.deleted==false}">
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.lastName}"></td>
                    <td th:text="${teacher?.subjectName}"></td>
                    <td th:text="${teacher?.departmentName}"></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Action</button>
                            <div class="dropdown-menu">
                                <a th:href="@{/lessons/personal-lessons/(teacherId=${teacher.id})}" class="dropdown-item">Get schedule</a>
                                <a th:href="@{/teachers/getById/(id=${teacher.id})}" class="dropdown-item">Info</a>
                                <a th:href="@{/teachers/edit/(id=${teacher.id})}" class="dropdown-item">Edit</a>
                                <a th:href="@{/teachers/delete/(id=${teacher.id})}" class="dropdown-item text-danger font-weight-bold" id="deleteButton">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr th:unless="${teacher.deleted==false}" class="table-danger">
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.lastName}"></td>
                    <td th:text="${teacher?.subjectName}"></td>
                    <td th:text="${teacher?.departmentName}"></td>
                    
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Action</button>
                            <div class="dropdown-menu">
                                <a th:href="@{/teachers/getById/(id=${teacher.id})}" class="dropdown-item">Info</a>
                                <a th:href="@{/teachers/undelete/(id=${teacher.Id})}" class="dropdown-item text-danger font-weight-bold" id="restoreButton">Restore</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:insert="fragments/fragments :: deleteConfirmModal"></div>
    <div th:insert="fragments/fragments :: deleteConfirmScript"></div>
    <div th:insert="fragments/fragments :: restoreConfirmModal"></div>
    <div th:insert="fragments/fragments :: restoreConfirmScript"></div>
</body>
</html>
